# systemd unit file for the Python Service
[Unit]

# Human readable name of the unit
Description=Coffee machine counter


[Service]
# TODO: change user
User=pi
# Command to execute when the service is started
# TODO: change the path to the project directory
WorkingDirectory= /home/pi/dashboard-coffee-listener
ExecStart=make run

# Automatically restart the service
Restart=always

[Install]
WantedBy=multi-user.target
